name: NPM Publish
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Configure npm time machine registry
      run: npm config set registry https://:2024-05-09T05%3A15%3A53.058Z@time-machines-npm.sealsecurity.io/
    - name: Setup Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
        check-latest: true
        registry-url: https://registry.npmjs.org/
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Install Dependencies
      run: npm install
    - name: Run Tests
      run: npm test
    - name: Publish Package to NPM Registry
      run: npm publish --provenance
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_SECRET}}
